{{#with settings.pwn}}
<i>({{../pwnId}})</i>
<p>Для данного <span title="смысловая единица языка, набор синонимов">синсета</span> из английского языка</p>
<div class="words" title="Слова синсета">{{wordsStr}}</div>
<div class="gloss" title="Определение">({{gloss}})</div>
{{#if examples}}
<div class="examples">
	<ul>
	{{#each examples}}
 	 <li><i title="Пример использования">{{this}}</i></li>
	{{/each}}
	</ul>
</div>
{{/if}}
{{#if images}}
<div class="galleria">
	{{#each images}}
  <a class="btn btn-default" href="{{../../settings/imageRoot}}{{../../pwnId}}/{{this}}" data-featherlight="image">
		<img src="{{../../settings/imageRoot}}{{../../pwnId}}/{{this}}" />
  </a>
	{{/each}}
</div>
{{/if}}
{{/with}}
<p>
	Выберите наиболее подходящий синсет из русского языка:
</p>
<div class="options options-active">
{{#each settings.options}}
  {{field type="radio" name="selectedId" label=wordsStr value=id }} <br>
  {{#if aggrs}}
    <div class="aggrs">
      {{#each aggrs}}
        <i>{{@key}}: </i> {{this}}<br>
      {{/each}}
    </div>
  {{/if}}
{{/each}}
</div>
<div class="no-option no-option-active">
{{field type="radio" name="selectedId" label="ни один не подходит" value="0" }}
  {{#if settings.noOption.aggrs}}
    <div class="aggrs">
      {{#each settings.noOption.aggrs}}
      <i>{{@key}}: </i> {{this}}<br>
      {{/each}}
    </div>
  {{/if}}
</div>
