{{#with settings.pwn}}
<p>Для данного <span title="смысловая единица языка, набор синонимов">синсета</span> из английского языка</p>
<div class="words" title="Слова синсета">{{wordsStr}}</div>
<div class="gloss" title="Определение">({{gloss}})</div>
{{#if examples}}
<div class="examples">
	<ul>
	{{#each examples}}
 	 <li><i title="Пример использования">{{this}}</i></li>
	{{/each}}
	</ul>
</div>
{{/if}}
{{#if images}}
<div class="galleria">
	{{#each images}}
  <a class="btn btn-default" href="{{../../settings/imageRoot}}{{../../pwnId}}/{{this}}" data-featherlight="image">
		<img src="{{../../settings/imageRoot}}{{../../pwnId}}/{{this}}" />
  </a>
	{{/each}}
</div>
{{/if}}
{{/with}}
<p>
	Выберете наиболее подходящий синсет из русского языка:
</p>
<div class="options">
{{#each settings.options}}
  {{field type="radio" name="selectedId" label=wordsStr value=id }} <br>
{{/each}}
</div>
<div class="no-option">
{{field type="radio" name="selectedId" label="ни один не подходит" value="0" }}
</div>
